[package]
name = "button"
version = "0.1.0"
authors = ["Jason White"]
license = "MIT"
repository = "https://github.com/jasonwhite/button-rs"

[[bin]]
name = "button"

[lib]
name = "button"
path = "src/button/lib.rs"

[dependencies]
clap = "2"
num_cpus = "1"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
petgraph = "0.4"
crossbeam = "0.2"
sha2 = "0.6"
generic-array = "0.8"
tempfile = { git = "https://github.com/jasonwhite/tempfile", branch = "temppath" }
